<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <meta charset="UTF-8"/>
        <meta name="author" content="Madalin"/>
        <title>Exercitiul 2</title>
    </head>

    <body>
        <a href = "../"><button>Acasa</button></a>
        <br><br><br><br><br>

        <form>
            <label for="nume">Numele orasului: </label>
            <input type="text" id="nume" name="nume" placeholder = "nume">
            
            <label for="populatie">Populatia: </label>
            <input type="number" min="0" step = "1000", id="populatie" name="populatie" placeholder = "nr. locuitori">

            <label for="capitala">Capitala: </label>
            <input type="" id="capitala" name="capitala" placeholder = "true / false">
            
            <button id = "submit">Adaugare</button>
        </form>

        <script src = "../static/adaugare.js"></script>
    </body>
</html>