<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <meta charset="UTF-8"/>
        <meta name="author" content="Madalin"/>
        <title>Exercitiul 2</title>
    </head>

    <body>
        <button onclick="adaugare()">Adaugare</button>
        <button onclick="vizualizare()">Vizualizare</button>
        
        <script src = "../static/index.js"></script>
    </body>
</html>