<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <meta charset="UTF-8"/>
        <meta name="author" content="Madalin"/>
        <title>Exercitiul 2</title>
    </head>

    <body>
        <a href = "../"><button>Acasa</button></a>
        <br><br><br><br><br>

        <form action="/getData">
            <input type="radio" id="esteCapitala" name="capitala" value="1" required>
            <label for="esteCapitala">Este capitala</label>
            
            <input type="radio" id="nuEsteCapitala" name="capitala" value="0" required>
            <label for="nuEsteCapitala">Nu este capitala</label>
            
            <br><br>

            <label for="marime">Marime oras:</label>
            <select name="marime" id="marime">
                <option value="mic">Mic</option>
                <option value="mare">Mare</option>
            </select>
            
            <br><br>
            
            <input type="submit" value="Vizualizare">
        </form>

    </body>
</html>