.DivMare{
    display:flex;
    flex-direction: column;
    background-color: black;
}



.Row1{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 30px;
}
.Primele2Divuri{
    display: inline-block;
    background-color: rgb(209, 10, 10);
    width: 100%;
    height: 200px;
    line-height: 200px;
    text-align: center;
}
#div1{
    margin-right:20px;
    margin-left:5px;
}
#div2{
    margin-left:20px;
    margin-right:5px;
}



.Row2{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.Div3{
    display: inline-block;
    background-color: yellow;
    width: 400px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    z-index: 1;
    position:relative;
    left:100px;
}
.Div4{
    display: inline-block;
    background-color: red;
    width: 400px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    z-index: 0;
    position:relative;
    
}
.Div5{
    display: inline-block;
    background-color: green;
    width: 400px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    z-index: 1;
    position:relative;
    right:100px;
}



.Row3{
    display:flex;
    margin-bottom: 30px;
    justify-content: space-evenly;
    gap: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
.Div6{
    flex-grow: 2;
    display: inline-block;
    background-color: rgb(4, 217, 255);
    height: 200px;
    line-height: 200px;
    text-align: center;
}
.Div78{
    flex-grow: 1;
    display: inline-block;
    background-color: rgb(4, 217, 255);
    height: 200px;
    line-height: 200px;
    text-align: center;
}